<div class="row brico fs-4">
  <div class="col-8">
    <main>
      <h1 class="fw-bold mb-3"> Users </h1>
      <table class="shadow-primary table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% num = 0 %>
          <% @users.each do |u| %>
            <% num = num + 1 %>
            <tr>
              <th scope="row"> <%= num %> </th>
              <td> <%= link_to u.username, u %> </td>
              <td> <%= u.phone %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </main>
  </div>
</div>