<div class="brico row">
  <div class="col-lg-7">
    <h1 class="fw-bold">GiGi is the best place to sell anything to real people.</h1>
    <hr />
    <p class="fs-3">We are a free marketplace for classifieds. We provide a simple, hassle-free solution to sell and buy almost anything.</p>
  </div>
  <div class="col-lg-5">
    <%= image_tag "gigi.svg", class: "shadow-tetiary" %>
  </div>
</div>
<%#  %>
<div class="brico row" style="margin-top: 7rem;">
  <div class="col-lg-5 mb-5">
    <%= image_tag "sale.svg", class: "shadow-tetiary" %>
  </div>
  <div class="offset-lg-1 col-lg-6">
    <h2 class="fw-bold">How to sell on GiGi</h2>
    <hr />
    <h3 class="fw-bold">1. Register</h3>
    <p class="fs-3">Register using your phone number. Make sure you’re haeve the correct phone number, so your clients can reach you!</p>
    <h3 class="fw-bold">2. Take a picture of your product.</h3>
    <p class="fs-3">Make sure to take a high-res picture of your product using your smartphone.</p>
    <h3 class="fw-bold">3. Click the SELL button.</h3>
    <p class="fs-3">Upload your picture, and write a clear title with a full description of your product. Enter a fair price, and click the Create button.</p>
    <h3 class="fw-bold">4. Answer calls from your clients!</h3>
    <p class="fs-3">If your Ad checksout, you can be sure interested buyers will contact you for further information.</p>
  </div>
</div>
<%#  %>
<div class="brico row" style="margin-top: 7rem;">
  <div class="col-lg-6">
    <h2 class="fw-bold">How to buy on GiGi</h2>
    <hr />
    <h3 class="fw-bold">1. Search for a product</h3>
    <p class="fs-3">Find what you need using the search box on the home page.</p>
    <h3 class="fw-bold">2. Contact the seller.</h3>
    <p class="fs-3">Call the seller directly via phone. Discuss details, negotiate price, arrange delivery&sol;pick-up.</p>
  </div>
  <div class="offset-lg-1 col-lg-5">
    <%= image_tag "buy.svg", class: "shadow-tetiary" %>
  </div>
</div>