<div class="brico row">
  <div class="col-7">
    <h1 class="fw-bold">GiGi is the best place to sell anything to real people.</h1>
    <p class="fs-3">We are a free marketplace for classifieds. We provide a simple, hassle-free solution to sell and buy almost anything.</p>
  </div>
  <div class="col-5">
    <%= image_tag "gigi.svg", class: "shadow-tetiary" %>
  </div>
</div>