<header class="gochi d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <span class="fs-1">Gigi</span>
  </a>
  <ul class="fs-5 nav nav-pills">
    <% if signed_in? %>
      <li class="nav-item">
        <%= link_to current_user.name, current_user, class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign out", session_path, data: { turbo_method: :delete }, class: "nav-link shadow-tetiary text-danger"  %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Sign up", sign_up_path, class: "nav-link active shadow-tetiary"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign in", sign_in_path, class: "nav-link"  %>
      </li>
    <% end %>
  </ul>
</header>